.text-input-styles {
    width: 700px;
}

.search-container {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.header-tag-line {
    text-align: center;
}
.haha {
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-table {
    display: flex;
    margin: 20px;
}